{
  extends: 'pagarme-react',
  env: {
    jest: true
  },
  globals: {
    window: true
  },
  rules: {
    'react/jsx-filename-extension': ['off'],
    'import/prefer-default-export': ['off'],
    'import/no-extraneous-dependencies': ['off'],
    'import/no-unresolved': ['off'],
    'import/extensions': ['off'],
    'sort-keys': ['off'],
    'function-paren-newline': ['error', 'consistent'],
  },
}
